<nav class="top-app-bar navbar navbar-expand navbar-light bg-light">
	<div class="container-fluid px-4">
		<button class="btn btn-lg btn-icon order-1 order-lg-0" id="drawerToggle" href="javascript:void(0);"><i class="material-icons">menu</i></button>
		<a class="navbar-brand me-auto" href="index.html"><div class="text-uppercase font-monospace">Digital Watermark</div></a>
		<div class="d-flex align-items-center mx-3 me-lg-0">
			
			
			
			<div class="d-flex">

				<ul class="navbar-nav d-none d-lg-flex pt-2 ">
					<li class="nav-item"><a class="nav-link" href="#">2020/244865</a></li>
				</ul>
				
				<div class="dropdown pt-3">
					<button class="btn btn-lg btn-icon dropdown-toggle" id="dropdownMenuProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">person</i></button>
					<ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dropdownMenuProfile">
						<li>
							<a class="dropdown-item" href="/auth/logout">
								<i class="material-icons leading-icon">logout</i>
								<div class="me-3">Logout</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>