<script src="/scripts/side_pro.js" defer></script>

<div id="layoutDrawer_nav">
    <!-- Drawer navigation-->
    <nav class="drawer accordion drawer-light bg-white" id="drawerAccordion">
        <div class="drawer-menu">
            <div class="nav pt-4">
                <a class="nav-link fw-bolder fs-6 text-dark" href="/">
                    <div class="nav-link-icon"><i class="material-icons">upload</i></div>
                    Upload Img
                </a>
                <div class="drawer-menu-heading">Recent</div>

                <div class="recent_bar">
                
                    <a class="nav-link" href="/watermarking">
                        <div class="nav-link-icon"><i class="material-icons">image</i></div>
                        Recent Test Image
                    </a>

                </div>
                
                <div class="drawer-menu-heading">Other Pages</div>
                <a class="nav-link" href="/">
                    <div class="nav-link-icon"><i class="material-icons">home</i></div>
                    Home
                </a>
                <a class="nav-link" href="/about_project">
                    <div class="nav-link-icon"><i class="material-icons">info</i></div>
                    About Project
                </a>
            </div>
        </div>
        
    </nav>
</div>